@font-face {
    font-family: "Mulish";
    src: url(./fonts/Mulish-Black.ttf) format('truetype'),
        url(./fonts/Mulish-Bold.ttf) format('truetype'),
        url(./fonts/Mulish-ExtraBold.ttf) format('truetype'),
        url(./fonts/Mulish-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Medium.ttf) format('truetype');
}

* {
    font-family: 'Mulish';
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 37px 0;
    align-items: center;
    width: 1200px;
}

header nav {
    display: flex;

}

.img-logo {
    background-image: url(./assets/Course\ topics.svg);
    width: 124px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 90%;
}

header nav p {
    font: 700 16px 'Mulish';
    color: #001A49;

}

header nav p:not(:last-child) {
    margin-right: 25px;
}

.btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 147px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
}

.introductory {
    display: flex;
    margin-top: 187px;
    justify-content: space-between;
}

.wrapper {
    width: 537px;
}

.introductory h1 {
    font: 800 60px 'Mulish';
    color: #001A49;
    margin-bottom: 20px;
}

.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin-bottom: 35px;
}

.introductory .button {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}

.video {
    background-image: url(./assets/Group\ 7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 360px;
    position: relative;
    left: 250px;
}

.statistic {
    margin-top: 15px;
}

.info {
    display: flex;
    width: 100%; 
    height: 172px;
    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
   
}

.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
   
}

.info div:not(:last-child) {
    border-right: 1px solid #E7EAEB;
}

.info div h2 {
    font: 800 40px 'Mulish';
    color: #001A49;

}

.info div p {
    font: 400 16px 'Mulish';
    color: #4F596A;

}

.oval {
    background-image: url(./assets/Side\ Shape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 288px;
    height: 288px;
    position: relative;
    left: -150px;
    top: 300px;
    z-index: 0;
}

.advantages {
    margin-top: 194px;
    width: 1120px;
    height: 969px;
    text-align: center;
    justify-content: center;
}

.title h1 {
    font: 800 46px 'Mulish';
    color: #001A49;
}

.title p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    width: 560px;
    padding-left: 270px;
}

.boxes {
    margin-left: 60px;
}

.boxes h2 {
    font: 800 24px 'Mulish';
    color: #001A49;
    text-align: left;
    margin-left: 20px;

}

.boxes p {
    font: 400 16px 'Mulish';
    color: #4F596A;
    text-align: left;
    margin: 20px 20px 40px 20px;
}

.box1 {
    margin-top: 60px;
    background: #EEF7FF;
    border-radius: 21px;
    width: 1120px;
    height: 172px;
    display: flex;
    padding-top: 39px;

}

.img {
    background-image: url(./assets/Side\ Shape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    margin-top: 39px;
    margin-left: 46px;
}

.box2,
.box3,
.box4 {
    margin-top: 30px;
    background: #EEF7FF;
    border-radius: 21px;
    width: 1120px;
    height: 172px;
    display: flex;
    padding-top: 39px;
}

.slash {
    background-image: url(./assets/Marico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 153px;
    height: 56px;
    margin-top: 220px;
    margin-left: 600px;
}

.sign p {
    font: 800 50px 'Mulish';
    color: #001A49;
    text-align: center;
}

.sign .button {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-top: 15px;
    margin-left: 525px;
}

footer {
    margin-top: 129px;
}

.slash-small {
    background-image: url(./assets/Marico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 79px;
    height: 56px;
}

footer div {
    display: flex;
    justify-content: space-between;
}

.hs {
    font: 800 37px 'Mulish';
    color: #001A49;
    display: flex;
    align-items: center;
}

.site {
    font: 500 28px 'Poppins';
    color: #707070;
}

.email {
    font: 500 27px 'Mulish';
    color: #707070;
    margin-bottom: 85px;
}

@media screen and (max-width:600px) {

    header {
        width: 600px;
        max-width: 90%;
    }

    header nav {
        display: none;
    }

    body {
        width: 600px;
    }

    .introductory {
        margin-top: 50px;
    }

    .introductory .video {
        display: none;
    }

    .introductory h1 {
        font: 400 30px 'Mulish';
        margin-bottom: 10px;
        text-align: center;
    }

    .introductory p {
        font: 400 15px 'Mulish';
        margin-bottom: 20px;
        text-align: center;
    }

    .introductory .button {
        width: 170px;
        margin: auto;
    }

    .wrapper {
        width: 100%;
    }

    .statistic {
        margin-top: 70px;
    }

    .statistic .oval {
        display: none;
    }

    .statistic .info {
        flex-direction: column;
        align-items: center;
        background-color: #F5F5F5;
        border-width: 0;

    }

    .info div:not(:last-child) {
        border-width: 0;
    }

    .advantages {
        width: 600px;
        margin-top: 100px;
        height: 500px;
        
    }
    

    .title h1 {
        font: 400 30px 'Mulish';

    }

    .title p {
        font: 200 15px 'Mulish';
        width: 500px;
        padding-left: 70px;
    }

    .boxes {
        margin-left: 10px;
    }

    .boxes h2 {
        font: 400 20px 'Mulish';
        margin-left: 10px;

    }

    .boxes p {
        font: 200 10px 'Mulish';
        margin: 10px 10px 20px 10px;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        margin-top: 30px;
        width: 600px;
        height: 90px;
        display: flex;
        padding-top: 20px;

    }

    .img {
        display: none;
    }

    .slash {
        display: none;
    }

    .sign p {
        font: 200 30px 'Mulish';
        text-align: center;
        margin-top: 150px;
    }

    .sign .button {

        width: 100px;
        font: 500 10px 'Mulish';
        padding: 10px 0;
        margin-top: 50px;
        margin-left: 250px;
    }

    footer {
        margin-top: 50px;
    }

    .slash-small {
        background-image: url(./assets/Marico.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 25px;
    }


    .hs {
        font: 300 25px 'Mulish';

    }

    .site {
        font: 300 20px 'Poppins';

    }

    .email {
        font: 300 20px 'Mulish';
        margin-bottom: 40px;
    }


}